.user-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.user-account-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 100px;
    padding: 30px;
}

.restaurant-review {
    min-height: 200px;
    min-width: 80%;
    border: 1px solid #f62;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.restaurant-review .review-date {
    font-size: 14px;
    color: #888;
    position: absolute;
    top: 15px;
    right: 15px;
}

.restaurant-details-page .restaurant-review .review-content {
    margin-top: 12px;
}

.user-reviews {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width: 920px;
    margin-top: 30px;
}

.user-restaurants {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
}

.restaurant-form-container {
    min-width: 920px;
    margin-top: 30px;
}