@keyframes onSelect { 
    0% {transform: translateX(0px);}
    100% {transform: translateX(-2px); box-shadow: 1px 1px 2px 2px #111}
}

.restaurant-item {
    min-height: 200px;
    width: 800px;
    padding: 20px;
    margin: 5px;
    border: 2px solid #ff5500;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px #111;
    position: relative;
}

.restaurant-item:hover {
    background-color: #282828;
    animation: onSelect 0.15s linear 0s 1 normal forwards;
}

.restaurants-column {
    max-height: calc(100vh - 110px);
    margin-left: 15px;
    overflow-y: auto;
}

.restaurants-column::-webkit-scrollbar {
    width: 4px;
}

.restaurants-column::-webkit-scrollbar-thumb {
    background-color: #ff5500;
    border-radius: 3px;
}

.restaurants-column::-webkit-scrollbar-track {
    background-color: #444;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}
